[2015-11-23 18:41] onlyskyguy opened #1 "Repeater Fields causes errors on Gravity Form"
Whenever I add a repeater field into a form, the form starts getting "messed up"... and the repeater buttons don't even work (tried in both preview mode and on the rendered form).

For example, the progress bar starts showing up on my multipage form, when I set it back to "steps" and save the form, it switches back to progress bar and doesn't save changes to the form. There are a couple other smal

[2015-11-23 19:21] kodie commented on #1
Hey there Orestis! Thank you for trying out my plugin and I apologize for it causing you some issues.

First, can you verify that you don't have your form's ajax enabled? Currently this plugin doesn't support ajax enabled forms. (I'm hoping to fix that in the near future).

On my test form I made a multi-page form with a repeater on the second page and switched the Progress Indicator back and fort

[2015-11-23 19:28] stuporglue opened #2 "Feature Request: Hidden field support"
Hi Kodie,

Thanks for the nice plugin. Are hidden fields supported? They're not on the list of supported field types but should be able to be handled in a very similar fashion to regular input fields.

Thanks,
Michael Moore

[2015-11-23 19:35] onlyskyguy commented on #1
Ok I'll try that out right now. Having a repeater field is awesome so I
appreciate the work you've done with this!

On Mon, Nov 23, 2015 at 11:21 AM, Kodie Grantham notifications@github.com
wrote:

##

Orestis Herodotou
Lead UX Developer, Only Sky http://www.onlysky.com/
orestis@onlysky.com
415-294-0387

http://www.onlysky.com/

[2015-11-23 19:38] kodie commented on #2
Hey Michael! Thank you for the feedback! I completely forgotten about the hidden field type and just did a quick test to see if it works with my plugin. The good news is that it works fine! The only downside is that when you go to view the entry on the back-end the hidden field doesn't have a label because the label is pulled from the 'gfield_label' which hidden fields do not have.

I have plans t

[2015-11-23 20:39] stuporglue commented on #2
Thanks for the quick response.

This is great to hear. I saw that and was a bit concerned about it since labels tend to change sometimes. It'd be nice to have something more permanent be used like Parameter Name or at least Admin Label, or whatever you're thinking of.

[2015-11-23 21:49] kodie commented on #1
No problem Orestis! Let me know if switching off ajax fixes that for you!

[2015-11-23 22:14] onlyskyguy commented on #1
Switching off ajax makes the forms work, but it's still resetting the
progress bar, which is extremely annoying :( as we have to re-enter each
page title every time we save.

Hopefully this can be resolved soon, thanks again for your help!

On Mon, Nov 23, 2015 at 1:49 PM, Kodie Grantham notifications@github.com
wrote:

##

Orestis Herodotou
Lead UX Developer, Only Sky http://www.onlysky.com/
ores

[2015-11-24 07:59] stuporglue opened #3 "Date popup calendar doesn't popup within repeater"
If I have a date field inside a repeater the JS calendar doesn't pop up.

The calendar popup on the date field outside of the repeater does work.

[2015-11-24 15:12] kodie commented on #3
Thanks for bringing this to my attention Michael! I will try to have this fixed in the next release.

[2015-11-24 18:50] kodie commented on #1
I will try to get this fixed for the next release coming up. Thank you.

[2015-11-24 18:52] onlyskyguy commented on #1
You are awesome let me know if there's anything I can help with.
On Nov 24, 2015 1:50 PM, "Kodie Grantham" notifications@github.com wrote:

[2015-11-25 19:50] stuporglue commented on #3
This is probably the same issue as the bug over on wordpress.org:  https://wordpress.org/support/topic/conflict-with-enable-enhanced-user-interface

[2015-11-25 19:56] stuporglue opened #4 "How can I pre-populate some repeater entries?"
Is there a built-in way to pre-populate the repeater with some data?

It's working really well for submitting data on the site I'm building, now I'd like to add the ability for users to edit entries they've made previously.

I'd prefer to do it server-side, but it looks like if there's no baked-in method, then I could pass my values to the client with wp_localize_script, then use gfRepeater_setRep

[2015-11-25 21:41] kodie commented on #4
Hey Michael! This is a good idea! I'll put it on my to do list! Thank you!

[2015-11-26 12:48] adamisarobot opened #6 "Conditional Fields and the Repeater"
Hi, I'm unsure if this is covered elsewhere, but when I use the plugin to repeat a group of fields with conditional logic, the hidden fields no longer show given the proper condition.

[2015-11-27 16:03] kodie commented on #6
Hey there Adam! I don't think I've ever tested repeated fields with conditional logic on them so I will add this to my to-do list for the next release. Thanks!

[2015-12-03 18:40] kodie commented on #1
This bug was fixed in the 33ef391 commit.

[2015-12-03 18:40] #1 closed

[2015-12-03 18:41] kodie commented on #2
Support for hidden fields were added in the e232ee0 commit and will be in the next release.

[2015-12-03 18:41] #2 closed

[2015-12-03 18:49] kodie commented on #4
Hey Michael! I thank you for your contribution as it gave me some ideas. Support for pre-populating repeated fields was added in the f2ce722 commit and will be in the next release. You are able to pre-populate fields using the normal built in Gravity Forms filters and hooks. I'll have more documentation on this in the readme soon but pretty much you set the parameter name in the form editor like u

[2015-12-03 18:49] #4 closed

[2015-12-03 20:37] kodie commented on #3
This bug was just fixed in the f6a24a3 commit and will be in the next release.

[2015-12-03 20:37] #3 closed

[2015-12-16 10:32] stuporglue opened #7 "Show as many repeated instances as there is pre-populated data"
Right now even if I pass pre-populate data for a repeater to be repeated multiple times it only repeats once.

Eg. if I have input1=asdf&input2=qwer&input3=zxcv

When I click the plus button to add additional repeater sections the pre-populated data shows up in the new sections.

One of the most common use cases for pre-populating data is probably for users to re-edit data they've entered previous

[2015-12-16 15:05] kodie commented on #7
Hey Michael! Thank you for the suggestion! I will see about implementing that in the next release! For now you can actually set a prepopulate parameter on the repeater start field itself and set that for example:

input1=asdf&input2=qwer&input3=zxcv&repeater=3

[2015-12-17 16:10] kodie commented on #7
Good news Michael! I have implemented this in the d956dd7 commit and it will be in the 1.0.7 release coming in the next day or so! Thanks again for your suggestion! :beer:

[2015-12-17 16:10] #7 closed

[2015-12-18 08:27] kLOsk commented on #6
Hey Kodie,
You have any hacks available already that would allow the repeater field to work with conditional logic?

[2015-12-18 10:01] kLOsk opened #8 "Multi Page forms seem to be broken"
Hi,
I have a large multi page form. It seems the the repeater addon breaks the multi page functionality (can't navigate to the previous/next page via buttons. Have to hit enter in a field to switch to the next page). I also get some javascript error from the plugin in jquery.postcaputer.min.js:

'''
Uncaught TypeError: Cannot read property 'length' of undefined
'''

Would be great if you knew how

[2015-12-18 14:22] kodie commented on #8
Hey Daniel! I'm aware of the issue and am working on a patch now. Stay tuned!

[2015-12-18 14:23] kLOsk commented on #8
Awesome thanks :)

[2015-12-18 14:24] kodie commented on #6
Hey Daniel, unfortunately I have still been unable to come up with a fix for conditional logic fields but I haven't given up yet!

[2015-12-18 15:44] kodie commented on #8
The 1.0.7.1 update has been pushed out!

[2015-12-18 15:44] #8 closed

[2015-12-20 14:29] kLOsk opened #9 "Lists and File Fields"
I don't see these types in your list of supported fields, so I believe this is why they don't work. The file field doesn't allow for file upload and the button doesn't work.

The list field works on the frontend but the submission within email is garbage and gets chopped off.

Can you confirm these issues?

[2015-12-20 19:09] kodie commented on #9
Hey Daniel! At the moment, neither of those fields are supported. I don't think it would be too hard to get lists to work inside of repeaters so I'll look into that a little more. However I think file uploads may be kind of difficult.

[2015-12-21 02:14] kLOsk commented on #9
## Thanks man!

Daniel Klose
http://www.daniel-klose.com
http://blog.daniel-klose.com

[2015-12-21 04:00] kLOsk opened #10 "Raw Email Data Output"
Hi Kodie,
I seem to have encountered another issue with the plugin :-/

I am trying to generate a Raw Text Email, but it seems the plugin does not support this. Here is my Notification code, with Autoformatting disabled:

    xxx {[Field Name]:[field_id]}
    Single Line: {Single Line:1}
    {Repeater:6}
    Paragraph: {Paragraph:2}
    Radio: {Radio:3}
    {Untitled:7}
    List: {List:4:}
    Col

[2015-12-21 15:25] stuporglue opened #11 "Pre-populating checkboxes"
Hi Kodie,

Could you please test or document how pre-populating checkboxes should work?

I can't figure out how to get them to pre-populate.

If it matters, I'm trying to get them to pre-populate on pages 1 and 2 of a multi-page form (two repeaters, one on page on, one on page 2, each with a checkbox field).

Thanks,
Michael Moore

[2015-12-21 15:30] kodie commented on #10
Hey! I will look into this today and get back to you!

[2015-12-21 15:30] kodie commented on #11
Hey Michael! I will look into this today and get back to you!

[2015-12-21 16:30] kodie commented on #10
@kLOsk I fixed this in the 8c3a5da commit. Test it out using the latest development version of the plugin.

See how to get the development version of the plugin here:
https://github.com/kodie/gravityforms-repeater#development

[2015-12-21 17:28] stuporglue opened #12 "Issue with jQuery.captures and Page type confirmations"
I've got a series of forms that are chained together. It's a several-hundred question scholarship application process, so each section is a form. Upon completion of one form the user is sent directly to the next form using the Gravity Forms Page type confirmation.

It seems that at least in a page type confirmation the jQuery.captures data is not cleared so values typed in one form overwrite value

[2015-12-21 19:17] #10 closed

[2015-12-21 19:18] kodie commented on #11
@stuporglue I fixed this in the f9f9203 commit. Test it out using the latest development version of the plugin.

Populate multiple checkboxes by passing it comma separated values.

See how to get the development version of the plugin here:
https://github.com/kodie/gravityforms-repeater#development

[2015-12-21 19:18] #11 closed

[2015-12-21 19:20] kodie commented on #12
Thank you for the information and the suggestion! I will get this fixed in the next development release!

[2015-12-22 15:17] kodie commented on #12
Hey Michael! I have fixed this in the 1742041 commit! Test it out by installing the latest development version.

Find out how to get the latest development version here: https://github.com/kodie/gravityforms-repeater#development

[2015-12-22 15:17] #12 closed

[2015-12-23 20:59] kodie commented on #6
Good news! I was able to add support for repeated, conditional logic enabled fields in the c72f107 commit!

You can test it out by installed the latest development version.

Find out how to get the latest development version here: https://github.com/kodie/gravityforms-repeater#development

[2015-12-23 20:59] #6 closed

[2015-12-24 01:09] kLOsk commented on #6
Wow thats awesome! Thanks! Im on xmas break with my clients now but will look into it asap :) thx for the present and merry xmas to you!

Gruß,
Daniel

---

Daniel Klose
http://www.daniel-klose.com
http://blog.daniel-klose.com

On Dec 24, 2015, 5:59 AM +0900, Kodie Granthamnotifications@github.com, wrote:

[2015-12-28 20:11] reggiescottjr opened #13 "warning text appears on submission"
Everytime I submit a form I get an error message that displays on the confirmation page. The form goes through but displays this code at the top:

 Warning: substr() expects parameter 1 to be string, array given in /home3/sjgas/public_html/contractorsonly/wp-content/plugins/repeater-add-on-for-gravity-forms/class-gf-field-repeater.php on line 143

Can you lend any insight as to why this is happeni

[2015-12-29 21:18] kodie commented on #13
Hey @reggiescottjr! Thanks for bringing this to my attention. I will look into it and get back to you within the next day or so.

[2015-12-30 15:40] kodie commented on #13
I fixed this in the 94b7076 commit and is now on the latest development version.

Test it out by installing the latest development version or you can wait until the stable version is released. (Hopefully soon)

Find out how to get the latest development version here: https://github.com/kodie/gravityforms-repeater#development

[2015-12-30 15:40] #13 closed

[2015-12-30 16:00] reggiescottjr commented on #13
Thanks man!

[2015-12-30 21:32] stuporglue opened #14 "Do I need an extra library for jQuery().mask?"
I'm getting errors "jQuery(...).mask is not a function" on gf-repeater.js, line 254.

Do I need to install an extra jQuery library for that to work or is it likely that I've broken something else locally? I'm using gravityforms-repeater Version 1.0.8.

[2015-12-30 21:44] kodie commented on #14
hmmm, that's a weird one. Gravity Form's input mask file should be enqueued automatically if one of your fields use an input mask. What kind of field are you having the issue with?

[2015-12-30 21:46] stuporglue commented on #14
I've got phone numbers and email fields, but only inside the repeater.

I just discovered that if I add a field with a mask outside of the repeater, then jquery.maskedinput.min.js is enqueued, but if all of my masked fields are inside the repeater, that .js file is not enqueued, which results in the error above.

[2015-12-30 21:48] kodie commented on #14
ok, I think I may have an idea of what the issue is. I'll get back to you later today.

Thanks!

[2015-12-30 21:50] kodie commented on #14
Is there anything special about your form? Multi-page, additional plugins, custom fields, multiple forms on the same page, multiple repeaters on the same form/page?

[2015-12-30 21:54] stuporglue commented on #14
The form is a multi-page form. There's only one form on the page and only one repeater in the form.

Several GF add-ons: Authorize.net, MailChimp, Stripe.

I'm deactivating them all now to see if that helps.

[2015-12-30 22:03] stuporglue commented on #14
I disabled all GF related plugins except GF itself and your plugin and am still having the same issue.

I also deleted the form's page-break so it's now a single page form.

I've attached my form definition json file here in case it sheds any light on the issue.

[mask_function_not_found.txt](https://github.com/kodie/gravityforms-repeater/files/75222/mask_function_not_found.txt)

[2015-12-31 06:16] stuporglue commented on #14
I figured it out.

It turns out that this form was created initially with a tool that generates a JSON file which is imported into GF.

It looks like that tool didn't set dateFormat or dateType for the date field or phoneFormat for the phone field which is part of what GF uses to determine if it should

After setting the formats, jquery.maskedinput.min.js loaded.

Sorry for the bad bug report

[2015-12-31 06:17] #14 closed

[2015-12-31 17:23] kodie commented on #14
Good to hear! :beers:

[2016-01-05 05:34] stuporglue opened #15 "JS error when you have a required date field with a calendar icon"
I'm getting error messages in gf-repeater.js on line 290

     if (childRequired) {
        var splitName = newInputName.replace('.', '_').split(/(_|-)/);

newInputName is undefined.

It looks like this is only happening when you have a required date field which has an icon (calendar or custom) set. It seems that the icon image URL is put in a hidden field which has no name property.

This results

[2016-01-05 05:49] stuporglue opened #16 "Conditional field has to be inside of repeater"
I have a section inside of the repeater which I only want to show if a field, which is outside of the repeater has a certain value.

It seems that the conditional logic checks only allow me to pick fields inside the repeater, otherwise the form fails to render with the message: "child is undefined".

[2016-01-05 05:52] stuporglue opened #17 "Conditional sections don't hide fields inside section"
The GF way of doing sections is kind of weird, since there's no actual nesting, but all fields after a section are considered to be part of the section until the next section or page starts.

Outside of repeaters, conditionally hiding a section will hide all fields inside that section.

Inside a repeater just the section header itself seems to be hidden, the subsequent fields are still shown.

[2016-01-05 10:10] zitrusblau opened #18 "Errors after update"
Hi Kodie,

after update your plugin I get the following errors:

Notice: Undefined offset: 0 in /Applications/MAMP/htdocs/grell_neu/wp-content/plugins/repeater-add-on-for-gravity-forms/class-gf-field-repeater.php on line 512

Warning: Invalid argument supplied for foreach() in /Applications/MAMP/htdocs/grell_neu/wp-content/plugins/repeater-add-on-for-gravity-forms/class-gf-field-repeater.php on li

[2016-01-05 13:13] kodie commented on #15
Thanks for letting me know Michael! I'll have a patch released for this soon.

[2016-01-05 13:14] kodie commented on #16
Thanks for the suggestion! I will see about getting this implemented in the next release.

[2016-01-05 13:15] kodie commented on #17
Another good suggestion! I will try to get this implemented in the next release.

[2016-01-05 13:16] kodie commented on #18
Hey @zitrusblau! I'm pretty sure I have an idea about what is causing this error. I will get it fixed and try to get a patch released for it soon! Thanks!

[2016-01-05 13:37] kodie commented on #15
I believe I fixed this in the latest development version. Try it out and let me know! Thanks!

Find out how to get the latest development version here: https://github.com/kodie/gravityforms-repeater#development

[2016-01-05 13:38] kodie commented on #18
I'm pretty sure I fixed this in the latest development version. Please try it out and let me know if that fixed it. Thanks!

Find out how to get the latest development version here: https://github.com/kodie/gravityforms-repeater#development

[2016-01-06 07:47] zitrusblau commented on #18
Hi @kodie,

I try ist out and the first error is fixed but the second still remains:
Warning: Invalid argument supplied for foreach() in /Applications/MAMP/htdocs/grell_neu/wp-content/plugins/gravityforms-repeater-development/class-gf-field-repeater.php on line 556

[2016-01-06 15:22] kodie commented on #18
@zitrusblau Can you tell me which version of the repeater plugin you were using before you upgraded?

[2016-01-06 18:20] stuporglue opened #19 "Feature Request: remove arbitrary repeated section"
It'd be nice to be able to remove any arbitrary repeated section, not just the last section.

[2016-01-06 18:50] kodie commented on #19
@stuporglue Are you meaning like with the Javascript functions?

The `gfRepeater_unrepeatRepeater` function supports specifying a childId.

`gfRepeater_unrepeatRepeater(formId, repeaterId, repeaterChildId);`

[2016-01-06 19:04] stuporglue commented on #19
I was thinking of the +/- buttons that show up at the bottom of the
repeater. It'd be nice to have a (-) button below each item.

I suppose with the js functions I could use an html field and the
[gfRepeater-count] shortcode to display a (-) button and remove the right
child.

On Wed, Jan 6, 2016 at 12:50 PM, Kodie Grantham notifications@github.com
wrote:

[2016-01-06 19:21] kodie commented on #19
Oh! I see! That's a good idea! I will see about implementing this in the next release! Thanks!

[2016-01-07 07:34] zitrusblau commented on #18
@kodie it was the latest stable version 1.0.8

[2016-01-07 15:32] kodie commented on #18
And which version did you upgrade to 1.0.8 from?

[2016-01-07 18:00] kodie commented on #19
The [gfRepeater-buttons], [gfRepeater-add], and [gfRepeater-remove] shortcodes were just added in the 6279ac4 commit!

Check it out by installed the latest development version!

[2016-01-07 18:00] #19 closed

[2016-01-07 18:08] stuporglue commented on #19
Thanks Kodie!

On Thu, Jan 7, 2016 at 12:00 PM, Kodie Grantham notifications@github.com
wrote:

[2016-01-08 07:37] zitrusblau commented on #18
Version 1.0.7.2

[2016-01-08 17:54] #15 closed

[2016-01-08 18:00] kodie commented on #18
Can you open up class-gf-field-repeater.php and looking at the "gform_disable_ajax" function and check if $args is being passed to the function and also see if $form is being found.

So maybe replace the whole function with this:

[code]

and tell me if either hose those output anything.

Thanks!

[2016-01-12 07:49] zitrusblau commented on #18
Attached I send you two screenshots. The first is the result on a form which have the repeater field, the second is the result on a form without repeater field but with error.
![gf_repeater1](https://cloud.githubusercontent.com/assets/6340749/12257755/606c087c-b909-11e5-89a6-f2fb879982aa.png)
![gf_repeater2](https://cloud.githubusercontent.com/assets/6340749/12257754/60685e02-b909-11e5-94f4-1f541b

[2016-01-12 14:09] kodie commented on #18
@zitrusblau This helps me a lot! I released another development version that hopefully fixes that for you. Let me know! Thank you!

[2016-01-13 08:07] zitrusblau commented on #18
@kodie The warning about the foreach is fixed, but now I get the following warning:
Warning: array_key_exists() expects parameter 2 to be array, boolean given in /Applications/MAMP/htdocs/grell_neu/wp-content/plugins/gravityforms-repeater-development/class-gf-field-repeater.php on line 556

Also only on the form without the repeater field!

[2016-01-13 15:42] kodie commented on #18
@zitrusblau Sorry about that, I released another development version. Try that and let me know if it works.

[2016-01-14 12:27] zitrusblau commented on #18
@kodie All fixed now, thank you!

[2016-01-14 16:42] kodie commented on #18
Awesome! Thanks for all the help!

[2016-01-14 16:42] #18 closed

[2016-01-19 22:14] kodie commented on #16
Hey @stuporglue! I fixed this in the latest development version. Fields inside of the repeater now respect conditional logic from outside the repeater. 🍺

[2016-01-19 22:14] #16 closed

[2016-01-19 22:17] stuporglue commented on #16
Thanks Kodie, this is fantastic!

On Tue, Jan 19, 2016 at 4:14 PM, Kodie Grantham notifications@github.com
wrote:

[2016-01-19 22:18] kodie commented on #17
@stuporglue I fixed this in the latest development version but unfortunately there seems to be a slight side-effect that I may have to look into fixing in the future: When hiding a section with conditional logic inside of a repeater, it now hides all fields under the section, BUT, it also hides all fields under the section outside of the repeater which also includes the repeater end field (where t

[2016-01-20 19:24] stuporglue opened #20 "Feature Request: A way to distinguish which input a value came from in multi-input fields"
I've got some name and address fields in a repeater. if a user doesn't fill out one of the optional name or address parts (eg. Name Suffix, or Address Line 2) then those empty values don't get included in the serialized string that's stored with the form.

When trying to de-serialize these values to pre-populate or otherwise use the values, this results in ambiguity about which input a value corre

[2016-01-22 14:29] kodie commented on #20
So if I understand correctly, if the non-required field is left blank, you'd like it to show a blank value in the entry rather than not display anything at all? Correct?

[2016-01-22 14:40] stuporglue commented on #20
Showing a blank value would be one option and would work fine.

The other option would be to use an associative array instead of a numeric array, where the keys of the associative array were the keys of the field the values came from.

The 2nd option would be more consistent with how non-repeater fields are presented, but either option would be useful.

[2016-01-22 18:05] kodie commented on #20
Ok, I think I understand. This may be something I look into for the next major release. I'm planning on doing a big overhaul and changing the way a lot of things work.

[2016-01-29 22:25] stuporglue opened #21 "Regression between 1.0.8 and 1.0.9 on multi-page forms"
Hi!

I've got a multi-page form with a repeater on page 1.

When I submit my form using plugin version 1.0.8 the data saves correctly, but in version 1.0.9 I get empty values. Interestingly, it does show the correct number of empty values, just not the values themselves.

The form I'm testing this on is extremely simple. Page one is just a repeater with a single text field in it. Page two has a te

[2016-02-01 18:01] kodie commented on #21
I'm looking into this issue and should have a fix made soon.

[2016-02-04 01:53] jaysonbrown commented on #17
I really need this too!

[2016-02-04 21:16] WebImage commented on #17
+1.  Just ran into this issue as well.

[2016-02-09 22:45] stuporglue opened #22 "Why does gfRepeater_getChoiceValue return a label instead of a value?"
Seems like this code:

    var id = this.id;
    var label = jQuery(this).siblings('label').first().text();
    value.push(label);

Should just be:

    value.push(jQuery(this).val());

The value and label will typically be the same, unless the user checks the "show values" checkbox. I believe that checking the value is the correct thing to do and should always work.

![should_be_value_maybe](http

[2016-02-10 18:24] stuporglue opened #23 "Feature Request: JS trigger that fires after repeater loading/initialization is complete"
Hi Kodie,

It would be convenient if there were a JS trigger that we could listen for to detect when the repeater is done loading.

This would allow users to run custom JavaScript functions that need to interact with the repeater in some way.

[2016-02-11 14:53] WebImage opened #24 "Invalid argument supplied for foreach in class-gf-field-repeater.php"
The following PHP error is shown when viewing an entry's details in admin if no child fields within the repeater have been filled out.

Warning: Invalid argument supplied for foreach() in repeater-add-on-for-gravity-forms\class-gf-field-repeater.php on line 384.

[2016-02-11 19:50] kodie commented on #23
Hey Michael! I implemented this feature in the 1.0.9 release! Check for the trigger 'gform_repeater_init_done' on the form to check when a specific form is done loading all of it's repeaters or check that same trigger on the window to check if all the repeaters on the page are done loading.

[2016-02-11 19:53] stuporglue commented on #23
Thanks!

Sorry I didn't see that. I'm still on 1.0.8 because I've got a multi-page form and was hitting #21

[2016-02-11 19:53] #23 closed

[2016-02-11 19:57] kodie commented on #22
Good idea! I will fix this in the next release!

[2016-02-16 14:35] kodie commented on #21
Fixed in the 1535efa commit on the latest development build

[2016-02-16 14:35] #21 closed

[2016-02-16 14:43] kodie commented on #22
Fixed in cb191f1 commit in latest version! Thanks again!

[2016-02-16 14:43] #22 closed

[2016-02-17 17:13] ryansigg commented on #24
Getting this one too.
Thanks for the fix @WebImage

[2016-02-17 17:27] kodie commented on #24
Thanks to @WebImage a fix was made in the latest development version of the plugin.

Find out how to get the latest development version here: https://github.com/kodie/gravityforms-repeater#development

[2016-02-17 17:27] #24 closed

[2016-02-23 18:19] kodie commented on #20
ok! in the latest development version I have made it where instead of the array keys starting at 0 and increasing every field that isn't blank, it now uses 0 if there was only one input and the dot notation for the key otherwise.

So in your example, your array would now look like this:

[code]

Let me know if that works for you!

[2016-02-23 18:19] #20 closed

[2016-02-23 18:21] stuporglue commented on #20
While I haven't tested it yet, that looks like it'll work out wonderfully.

Thank you!

##

Michael

On Tue, Feb 23, 2016 at 12:19 PM, Kodie Grantham notifications@github.com
wrote:

[2016-02-23 23:01] kodie commented on #17
Just added this in the latest development version!

[2016-02-23 23:01] #17 closed

[2016-02-25 10:58] RRWD opened #28 "tabindex="NaN" when gform_tabindex is false"
Hi Kodie,
Thank you for this outstanding plugin, very useful!

I found the following issue:
For every GF I add `add_filter( 'gform_tabindex', '__return_false' );` to disable the tab-indexes.

I noticed that this displays in the HTML as `tabindex="NaN" `

For example in
`<select name="input_4-1-1" id="input_2_4-1-1" onchange="gf_apply_rules(2,[9,10]);" class="medium gfield_select" data-repeater-inp

[2016-02-26 18:55] kodie commented on #28
Hey Rian! Thanks for letting me know about this issue! I just fixed it in the latest development version of the plugin.

See how to get the development version of the plugin here:
https://github.com/kodie/gravityforms-repeater#development

[2016-02-26 18:55] #28 closed

[2016-03-01 20:43] rianrietveld commented on #28
Thank you! +1 :-)

[2016-03-14 08:41] ryjogo commented on #9
File uploads would be great.. At the moment i just ask for a zip file for all the repeating fields in the above form.. however, it would be a more elegant solution to have a single file upload for each repetition.

[2016-03-14 11:47] seantrace opened #31 "Use of GF-Repeater and CFDB"
Hi Kodie,
I am trying to produce a formatted table of entries from a GF which has both non-repeated fields and repeated fields. The data for the repeated fields seems to be stored in the Wordpress database in an encoded form ["# id, lead_id, form_id, field_number, value
'3', '1', '1', '1', 'a:1:{i:1;a:4:{i:9;a:1:{i:0;s:4:\"1234\";}i:10;a:1:{i:0;s:22:\"Where Your Treasure Is\";}i:14;a:0:{}i:15;a:0:

[2016-03-17 14:47] jproffitt3ge opened #32 "Conditional Open/Close Blocks"
If would be useful if the opening and closing blocks themselves could be shown/hidden conditionally, in instances where you don't want to allow people to add any items.

[2016-03-17 14:54] jproffitt3ge opened #33 "Allow Zero Repetitions / Items"
It should be possible to start with / allow a minimum of zero instances of a repeated section. In my case I ask for employment history, and require certain fields like date hired / left for each instance. Users without an employment history will be unable to fill out this form. I was able to work around this constraint by adding another field ("Have you been employed before?")  and making all of t

[2016-03-20 14:29] kodie commented on #31
Hey @seantrace I will look into this asap. Thanks!

[2016-03-20 14:30] kodie commented on #32
Hey @jproffitt3ge this feature was actually added in the latest development version which I'm working on getting ready for release. If you don't feel like waiting you can get the development version here: https://github.com/kodie/gravityforms-repeater#development

[2016-03-20 14:30] #32 closed

[2016-03-20 20:18] kodie commented on #33
This is a good idea! I will add it to the to-do list!

[2016-04-06 15:03] NickHeurter opened #36 "Uncaught TypeError: jQuery(...).mask is not a function"
First of all thanks for the plugin, it seems awesome. But I'm not able to test it already because I got the following error:

`Uncaught TypeError: jQuery(...).mask is not a function`

Thanks already! Best Regards,
Nick

[2016-04-06 18:54] ulumi opened #37 "php 5.6.10 breaks the /wp-admin/plugins.php page"
hello, when I have php 5.6.10 activated the plugin creates a weird bug...

when on my wp-admin / plugin list page /wp-admin/plugins.php, the list breaks when getting to this plugin item. the list stops to display so I can't see plugins that are alphabetically after this one.

downgrading my php version to 5.5.26 resolves the bug.

on 5.6, the plugin still works but its really annoying that I cant

[2016-04-06 22:26] nickkuijpers opened #38 "Conditionial logica"
Hi,

Is it possible to add conditionial logica to the repeater? because now the sub items of a logica arent visible but the trigger button is :(

[2016-04-12 17:55] lemoslincoln opened #39 "Gravity Forms + Custom Post Types + Repeater Field"
There is no compability with plugin "Gravity Forms + Custom Post Types"?
I try add a new custom post type form, but the repeater fields don't save.

[2016-04-12 20:08] ulumi opened #40 "radio buttons inside repeaters loses value"
I noticed the radio fields inside a repeater loses the selected value when inside of a page, and using the "previous page" button.

when I duplicate the same field and move it out of the repeater, it works fine.
im using this component for a a project at work... would be awesome if you could fix it... its a bit of a show stopper for us.

Thanks

[2016-04-13 00:09] archer8 opened #41 "Conditional logic in the repeater works for all repeats"
I've got a section (image below, section is called Practitioner Details (delegates)) in a repeater that should only show if a radio button is selected as yes:

<img width="538" alt="screen shot 2016-04-13 at 9 46 07 am" src="https://cloud.githubusercontent.com/assets/1145994/14479090/aaeb9d52-015e-11e6-9c6a-7c2de0bfa3f2.png">

Once there's a few repeats, you'll get mixes of "yes" and "no" selectio

[2016-04-15 20:25] elconejito commented on #40
Having a similar issue here, sounds like it may be related...

I have a somewhat complex multi-page form, the repeater is on the first page and has several text fields, a couple of dropdowns, and a date field.

If I click next to go to next page and then previous to come back to the page all the entered fields are empty.

If I purposely make an error on the page and submit, it remembers what I ent

[2016-04-19 16:20] Daronspence opened #42 "Product Field Support"
While I recognize that product fields are missing from your supported fields list, I would like to help make them supported if at all possible.

Have you looked into the issue before? Do you have a suggested starting place?

No time rush on this, I'm just interested in contributing :)

[2016-04-24 13:38] bhagwantbanger opened #43 "Entries not editable from admin"
The repeater fields are not editable through the admin interface. Any clues?

[2016-05-04 08:02] mikaelakerlund opened #45 "Arry shows in email"
Hi,

When get the values in the notification email it looks like the image i attach. The Array are visible in the email before the tables where the value is. Anyone know what the problem is? It worked before but when i updated wordpress and gravityforms to the latest version i starting to get this error.
![skarmavbild 2016-05-04 kl 09 59 46](https://cloud.githubusercontent.com/assets/16704242/1500

[2016-05-26 05:21] blackhatdigital opened #48 "Won't install using 4.5.2"
Uploading plugin using FTP. Not appearing in plugins?

[2016-05-26 20:10] qwave opened #49 "After removing all other values are nulled"
Is any idea how to fix it?
All data provided on all other fields in repeater - lose their values

[2016-05-30 21:57] pschena opened #50 "Conflict with the Phone Advanced field"
When the Phone Advanced field is included in a repeater set AND Phone Format changed to International, form does not preview.

[2016-06-07 14:58] roikles opened #51 "Undefined index: conditionalLogic"
Small issue that is throwing a notice.

I have disabled ajax on the form as instructed and I have noticed that if I add custom Add and remove markup to the 'Repeater End' it throws a bunch of 'Undefined Index: conditionalLogic' notices when I click the Add button.

the html I have added to each is
`<button class="btn btn--tiny btn--primary">Add Another Timesheet</button>`
and
`<button class="btn b

[2016-06-15 14:51] skillmatic-co commented on #51
It may have to an `<a>` tag.

[2016-06-15 15:24] roryashfordbentley commented on #51
I'll test it tomorrow and report back. Thanks @tenold.

[2016-06-17 15:53] skillmatic-co commented on #43
+1 Really need this!

[2016-06-21 03:38] bhagwantbanger opened #52 "Repeater field not working on multi page"
TypeError: d.children is undefined
.............../plugins/repeater-add-on-for-gravity-forms/js/gf-repeater.min.js?ver=1.0.9

[2016-06-21 04:48] bhagwantbanger commented on #52
This error came when repeater end field was not added. My bad :(

[2016-06-21 04:48] #52 closed

[2016-06-21 17:39] dancrowe opened #53 "Not seeing the options for Conditional Logic for this plugin?"
I have not seen any options to use the conditional logic for this plugin? Am I missing something? or is this a dev bug?

GF and the add on are both up to date and so is WP

![screen shot 2016-06-21 at 1 37 26 pm](https://cloud.githubusercontent.com/assets/13890992/16240032/9dec5924-37b5-11e6-8257-e11136cc0ff3.png)

[2016-06-23 13:20] roryashfordbentley commented on #51
Works perfectly with `<a>`

[2016-06-23 13:20] #51 closed

[2016-06-27 16:17] mohamedmusthafac opened #54 "Cant able to edit repeater fields at the entries"
I cant able to edit the fields of repeater in the admin panel of form entries, how to edit those fields of repeater

[2016-07-12 15:09] karlmt opened #55 "Exporting."
When I export a form's entries in to Excel any data that was in a repeater field is all placed in a single cell. How do I export to Excel allowing the data in the repeater field to appear in the corresponding separate rows?

[2016-07-15 21:14] TheeBryanWhite opened #56 "Uncaught TypeError: Cannot read property 'required' of undefined"
Everything was working fine with the plugin (Which is clutch, by the way. Super helpful) until I added some conditional logic and this JS error broke the entire form. The form now has an inline display: none applied to it.

[2016-07-15 21:16] TheeBryanWhite opened #57 "Uncaught TypeError: Cannot read property 'required' of undefined"
Everything was working fine with the plugin (Which is clutch, by the way. Super helpful) until I added some conditional logic and this JS error broke the entire form. The form now has an inline display: none applied to it.

The culprit seems to be this line:
`if (childInfo['required']) { childRequired = true; }`

[2016-07-15 21:19] #56 closed

[2016-07-18 21:18] blakewatson commented on #57
I'm not using any conditional logic, but I am getting the same error.

[2016-07-18 21:22] blakewatson commented on #57
I think I just fixed this by using jQuery 3.1 instead of 1.12.x.

[2016-07-19 14:53] stuporglue opened #58 "Date fields with input type Date Field have same ID"
Date fields have three options for user input.

- Date Field shows individual fields for Month/Day/Year
- Date Picker shows a calendar popup for a single field
- Date Drop Down shows three M/D/Y drop down fields.

If I use Date Field or Date Drop Down then all date input field parts get the same ID

The Month field has "input_3_3_1-1-1" and the Day field has "input_3_3_1-1-1" and the year field ha

[2016-07-21 14:42] bostondv opened #59 "New form displaying repeater values from previous entry"
Sometimes when going back to the form after submitting an entry the repeater fields are pre-populated with the values which were submitted with the previous entry.

I'm using a simple repeater with a single line text input within it.

For example, if I submit the form with 3 repetitions of the input with values "one", "two", "three" the next time I load the form those 3 values will be pre populate

[2016-07-21 18:01] ommmmm opened #60 "Repeater fields are not displaying in notification emails"
I created a few repeater fields but when I receive a notification email, none of the fields are showing up.  Currently I have the notification message using the {all_fields} shortcode.  Is there something different I need to do to get repeater fields to show?

[2016-07-30 20:26] theodorocaliari opened #61 "Price Field inside repeater loses Currency option and set false to range"
Hello, I try to use repeater to make a register of a delivery, but this plugin not work in price field corretly... please make a review on this...

the currency when i set a numer field as currency it put the signals of current currency in the value, when this fiels inside repeater this not work, and a number field with calculation not recongnise this field anymore....

Thanks for any help...

[2016-08-10 15:39] xgat commented on #33
+1

[2016-08-13 16:31] powerblue opened #62 "Totaling repeater number fields, in a number field outside the Repeater doesn't appear to work."
I have a form with number fields inside the repeater, where more or less might appear depending on the number of times the form user clicks "+" repeat.

I would like to add them all together using the Gravity Forms > Number Field > Enable Calculation, in a number field outside the repeater.

Does the Repeater addon allow this?

[2016-08-19 06:32] kotyzap opened #63 "Repeater is not saving majority of fields (Wordpress 4.5.)"
I am using repeater add-on for Gravity Form and for last few days I am experiencing strange behaviour of the add-on.

It is not saving text fields, files, radio buttons
It saves only predefined drop down menus.

I have checked it with logging plugin and it looks like Repeater Add-on is not simply sending the data from the form included in page.

I have a gut feeling that it all happens because of

[2016-08-25 04:46] tranbinhcse opened #64 "repeater Conditional Logic by field"
Hello!

You can help me add Conditional Logic on Max or Min when repeater field?

[2016-09-01 17:56] andyadams commented on #53
If I'm not mistaken, the version in the WP.org repo is a bit out of date - it shows version 1.0.9, but it is missing some stuff that is on Github, including the conditional logic. Using the Github version enabled conditional logic for me.

[2016-09-06 14:49] rathancee opened #65 "In multipage "Save and Continue Later button" click all repeated values lost"
Hi,

Thanks for valuable plugin.

Could you please guide me when i click on "Save and continue Later button" in multiple page all repeated section values are gone and become empty all fields.

Kindly advice me how to fix this issues.

Also Radio button values are not checked properly. If i checked first option of radio button and go to the next page again i will come back on previous page it was c

[2016-09-07 19:27] mangandini opened #66 "Development version not available"
Hi, the dev version referenced in the documentation is not available anymore, how can I get that build?

I have read that some bugs have been fixed and I want to install
bug: https://wordpress.org/support/topic/repeater-fields-not-passed-on-multi-page-form/

Thank you

[2016-09-13 03:05] cervinmedia opened #67 "Prepopulate fields"
Hi there.

I am trying to prepopulate some fields that are inside a repeater block but it doesn't work.

It does work if the field is outside the repeater block.

Any suggestion?

Thanks,
Mariana

[2016-09-16 20:46] lukecav commented on #66
Seems like the only branch is master.
The last version is Version 1.1.0-dev14 of Gravity Forms Repeater Add-On.

[2016-09-18 16:09] elrocka opened #68 "Problem with validation"
I cant validate the field input when send the number 0. The validation work with "00", but dont work with "0".
Please, if you have a solution for this give it to me.

Thanks!

[2016-09-19 21:51] elrocka commented on #68
### This is was my primitive solution:

add_filter( 'gform_validation', 'custom_validation' );
function custom_validation( $validation_result ) {
    $form = $validation_result['form'];

[code]

}

add_action( 'gform_pre_submission', 'pre_submission_handler' );
function pre_submission_handler( $form ) {
    if($_POST['input_15-1-1'] == 0){
    $_POST['input_15-1-1']='cero';
    }
    if($_POST['in

[2016-09-20 21:15] geoffmyers commented on #42
I would also be happy to help with this. I have a client who needs it and I'm willing to help with development however I can.

[2016-09-21 14:04] kodie commented on #42
Hey guys! So I haven't looked into product field support at all. Please feel free to fork the repo and submit any pull requests. Thanks!

[2016-10-04 14:25] alexcavender commented on #49
I've been testing creating a form with the repeater & trying to remove anything but the last repeater will zero all repeater fields. Would be great to see this resolved somehow.

[2016-10-04 15:00] paulcanning opened #71 "Multiple time fields in repeater are stored incorrectly"
I need to use multiple time inputs in a repeater, and it is storing the data incorrectly.

Example of how it is currently stored:

[code]

The line `i:23;a:4:{i:0;s:2:"13";i:1;s:2:"20";i:2;s:2:"14";i:3;s:2:"55";}` should be paired with the line `i:22;a:1:{i:0;s:6:"test 2";}`

Each row is meant to have a text value, and two times, as you can see the times are being concatenated for some reason, and

[2016-10-04 15:49] alexcavender commented on #49
line 664 to 666 of gf-repeat.js
`if (repeatId !== repeater['data']['repeatCount'] + 1) {
		gfRepeater_resetRepeaterChildrenAttrs(formId, repeaterId);
}`

I commented out the line of code within this if statement and it no longer nulls out the other fields

[2016-10-04 16:44] paulcanning commented on #71
OK, the issue is that time fields (and multiple select list for example) use an array name value eg `name="input_1[]"`

The repeat is changing the ID and Name attributes correctly, but for some reason, anything with an array name is having its name attribute re-written to always have the repeatID as 1, no matter how many times you add a new row.

Annoyingly, in the code, the name is being created

[2016-10-06 20:46] alexcavender commented on #49
I made this, starting to test some more now:
https://gist.github.com/alexcavender/cfafda528e3cefb59cf67d89fd85d229

[2016-10-19 04:49] neroshin opened #72 "repeater is not working in woocommerce-GF add-ons"
Hello guys, anyone would like to help me here, I spend almost 4 days to look for this issues of repeater confliction in woocommerce-GF add-ons.

[2016-10-20 21:40] lukecav commented on #72
So how many repeaters did you need to add with the product pricing or option fields?

[2016-10-21 00:41] neroshin commented on #72
hello lukecav, I need more than 100 product pricing for repeater .Do you have any idea how can I solve it because I've been stuck , thank you for helping lukecav.

[2016-10-25 14:41] pavankumarkatakam opened #73 "Support for repeating the Custom post fields"
Hi there,

 I have seen in the doc that only support normal fields rather than the post fields. it would be awesome if there is also support for the post custom fields.

[2016-10-27 12:26] Artemis128 opened #74 "Strict Standards: Declaration of GF_Field_Repeater::get_value_merge_tag() should be compatible...."
Hi,
When activating this plugin in Wordpress 4.1.13 I get the following:
Strict Standards: Declaration of GF_Field_Repeater::get_value_merge_tag() should be compatible with GF_Field::get_value_merge_tag($value, $input_id, $entry, $form, $modifier, $raw_value, $url_encode, $esc_html, $format) in /home/ensightadm10/public_html/wp-content/plugins/gravityforms-repeater-1.10/class-gf-field-repeater.php

[2016-10-29 09:10] knvpk commented on #39
yes, it is not saving, Anybody has an other alternative for this?

[2016-10-31 09:53] knvpk commented on #73
can we use `gform_pre_submission` hook to change the repeater fields as nor post custom fields

[2016-11-16 19:56] kodie opened #75 "Looking for contributors!"
Since I don't really work with Wordpress much anymore I've kind of lost touch with this project. I've put in a ton of work in the past year and obviously people find it very useful (minus all the bugs) so I would really hate to see this project die.

I would absolutely love to see more people contributing to the Gravity Forms Repeater Add-On. So let me know if you'd like to help and I'll get you a

[2016-11-27 13:44] anugupta opened #76 "Repeater field values aren't appearing in `gform_field_validation` filter"
Trying to validate a field in the repeater set, using  the `gform_field_validation` filter.

the `$values` parameter should contain the field values, but instead has this:

[code]

 Any idea how to get the actual values in there, so I don't need to parse `$_POST`?

[2016-11-29 20:02] d3vit commented on #57
EDIT: Using jQuery 3.1 (https://code.jquery.com/jquery-3.1.0.min.js) does not fix the issue.

I simply defers the exception. Issue still exists.

I'm not using conditional logic or an AJAX form. Error is on line 97: _q.required && (F = !0),_

[2016-11-30 12:08] RCooLeR commented on #71
Any luck on this?
I have the same issue with multiselect

[2016-12-01 08:47] paulcanning commented on #71
I had to fix the core code of the repeater when it comes to storing dates. I'll dig out the fix later and post it here.

[2016-12-01 09:02] RCooLeR commented on #71
The issue was in JS. Select didn't get proper name & id attributes. All repeated fields had name xx-1-1[]

[2016-12-01 09:13] paulcanning commented on #71
I can't remember what I fixed exactly. I think I tried to fix the JS for the date fields but gave up due to the code being a mess (not very well commented!) so I think I fixed it on the point of entering the data into the DB.

[2016-12-01 15:41] kodie commented on #71
Sorry about that @paulcanning ! This started out as a small project for clients that I wasn't going to release but then decided to release it. It was my very first GitHub project!

[2016-12-01 15:44] RCooLeR commented on #71
@kodie  lack of comments is just a reason to dig deeper into the code (and a bit more time-taking)
The plugin is very useful. Thanks.

[2016-12-07 00:22] lukecav commented on #75
Do you still need contributors?

[2016-12-07 00:25] lukecav commented on #71
I agree, this plugin is very useful, since Gravity Forms still does not repeater in core yet.

[2016-12-07 14:38] kodie commented on #75
@lukecav Yes! If you're interested, I'll get you added! I know that you've been involved with the plugin for a little while already.

[2016-12-19 22:58] robfrancken commented on #76
@anugupta Have you tried json_decode?

[code]

[2016-12-31 08:36] robfrancken opened #79 "Can't limit dates with 'gform_datepicker_options_pre_init' filter"
I found an issue with limiting date ranges due to the fact that repeater fields have modified ID values.

The repeater field modifies the form field ID, so when using repeating fields the form field ID becomes something like "input_5-1-1", which is causing issues with the gform_datepicker_options_pre_init filter.

Is there any way I can use a regex or loop to loop over the repeated form elements?

[2016-12-31 23:58] robfrancken commented on #79
Ok, I was able to get around this.

[code]

[2016-12-31 23:59] #79 closed

[2017-01-11 15:55] paddelboot opened #81 "Not working with GF 2.1.2?"
The "Repeater" field button doesn't seem to appear in the backend user interface with Gravity Forms 2.1.2.

Version 2.1 seems to still work. Can anyone confirm?

[2017-01-12 16:36] paddelboot commented on #81
This plugin is doing exactly what we need for our project, but because of the unknown future support we need to drop it. Such a shame.

[2017-01-12 17:42] kodie commented on #81
@paddelboot I apologize for the lack of support. I agree, it is a bummer. With as popular as this plugin got I was hoping that more people would contribute after I no longer had time to work on it anymore but that never ended up happening. :(

[2017-01-13 09:46] Marwzoor opened #82 "All fields reset when deleting a repeater using the provided shortcode"
When using the shortcode `[gfRepeater-remove]` and removing a row that's not the last one in the repeater list, all fields (inputs, selects etc.) are reset. Conditional logic also stops working when doing this.

[2017-01-13 09:55] Marwzoor opened #84 "Add language support"
There should be language support in the plugin.

[2017-01-13 11:25] creativeart commented on #81
It's the same here, I was working on a new project where I need the repeater but the form gone if I put a repeater field. It's so sad :(

[2017-01-13 12:11] creativeart opened #85 "Compatibility with Gravity Forms Repeater Add-On"
Hello,

I have the Gravity PDF plug-in installed as well as the Gravity Repeater Add-on. When I export an entry to PDF, the PDF doesn’t include any of the content from the repeater fields but instead shows this:

a:2:i:24;a:1:i:25;a:1:i:26;a:1:}i:2;a:4:i:24;a:1:i:25;a:1:i:26;a:1:}}

How can i resolve this problem ?

Thanks in advance.

[2017-01-17 22:20] ahmadtawakol commented on #67
I am also having the same problem. Is there a bug? Or am I doing something wrong? Because I tried everything to make it work.

[2017-01-24 19:42] SkoricIT commented on #55
@karlmt Is it at least separated with a delimiter? I need to know this or I might have the same issue.

[2017-01-25 17:58] #82 closed

[2017-01-31 14:01] soulseekah commented on #43
It's not editable because it's not meant to be editable, judging by this code:

https://github.com/kodie/gravityforms-repeater/blob/master/class-gf-field-repeater.php#L280-L283

[2017-01-31 14:02] soulseekah commented on #54
Not editable via admin: https://github.com/kodie/gravityforms-repeater/blob/master/class-gf-field-repeater.php#L280-L283

[2017-02-12 12:34] urweb1 opened #86 "Data not saved"
Hi,

Fields under the repeater are not saved. If you go back to previous step in the form you can see that the filled data is empty. Also the data is not sent upon submission.

Can you please check this issue?

[2017-02-28 20:37] zlanich opened #87 "Repeater Values Not Saved Between Pages"
Attached is an export of a simple version of a form I'm working on. When using mulit-page forms, submitting the form throws errors, even though all required fields we're filled in:

Screenshot: http://zsl.io/OHkt - The 2 fields in this screenshot were filled in prior to submitting this form.

This only seems to occur if there are additional pages "after" pages with repeaters on them, so the form i

[2017-03-06 21:30] zlanich opened #88 "Conditional Logic on Sections Doesn't Work w/ Repeater"
Normally, adding conditional logic to a section will hide/show everything within that section. When using a Repeater within that section, this no longer works. Attached is an example form. If you remove the repeaters, it works fine.

[section-repeater-broken.zip](https://github.com/kodie/gravityforms-repeater/files/822579/section-repeater-broken.zip)

[2017-03-07 05:58] mtskf commented on #36
Same issue here.
GF doesn't work at all with jQuery3... :(

[2017-03-08 06:29] Amittecksky commented on #43
How to edit repeater fields in admin ?
i need to edit repeater fields
plz help me

[2017-03-08 06:30] soulseekah commented on #43
@Amittecksky Repeater fields are not editable, the functionality is missing. But since this is an open-source project anyone's welcome to contribute a fix.

[2017-03-08 08:34] Amittecksky commented on #43
how to add edit repeater functionality
plz help me

[2017-03-08 08:39] soulseekah commented on #43
@Amittecksky:

1. Wait till someone else does it on here
1. Learn programming and do it yourself
1. Hire a programmer and have them do it
1. Wait till Gravity Forms comes out with their own Repeater field

[2017-03-08 12:31] Amittecksky commented on #43
thankyou

On Wed, Mar 8, 2017 at 2:09 PM, Gennady Kovshenin <notifications@github.com>
wrote:

[2017-03-08 21:28] amphrony commented on #87
Seeing the same issue.

for the repeater fields.

There are two more pages after the page with the repeater.

Looks similar to the bug mentioned in version 1.0.9 Changelog:

- Fixed bug where repeaters in a multipage form that are not on the first page would appear to have failed validation even if the form hasn't been submitted.

[2017-03-10 16:54] tonymwaruka commented on #66
Does anyone have access to the 1.1.0-dev14 version? We are desperately trying to update from 1.0.9 @mangandini @lukecav

[2017-03-10 16:58] SmartAlecTony opened #89 "Searching for 1.1.0-dev14 - Updated Version"
Version 1.0.9 has known bugs and we're trying to get a hold of the dev version 1.1.0-dev14. Anyone?

[2017-03-10 17:32] lukecav commented on #66
@SmartAlecTony

I only see these releases.
https://github.com/kodie/gravityforms-repeater/releases

Also only looks like one branch as well.
https://github.com/kodie/gravityforms-repeater/branches

But the version in the master branch is Version: 1.1.0-dev14
https://github.com/kodie/gravityforms-repeater/archive/master.zip

[2017-03-10 17:51] lukecav commented on #89
Yep the version in the master branch.

https://github.com/kodie/gravityforms-repeater/blob/master/repeater.php

Version: 1.1.0-dev14

https://github.com/kodie/gravityforms-repeater/archive/master.zip

[2017-03-10 18:14] garretthyder commented on #66
I can confirm you'll just want to use master as that is v 1.1.0-dev14. The developer doesn't use git branches he just works in master until it's ready for release then rolls it into WP-SVN for launch/version. By development branch he's meaning what's defined for Github Updater in the repeater.php file;
 * GitHub Plugin URI: https://github.com/kodie/gravityforms-repeater
 * GitHub Branch: developme

[2017-03-10 18:16] garretthyder commented on #89
As @lukecav indicated use master. And note you can use Github Updater to handle updating to that version.
See my comment here - https://github.com/kodie/gravityforms-repeater/issues/66

[2017-03-10 18:19] garretthyder commented on #88
I'm not sure if this helps, I had a similar issue with conditional sections within repeaters. For me I had to place the conditional logic that I had on the sections onto every item within that section.

*I do have an inkling that you're looking at something slightly different so sorry if that's not useful to you.

[2017-03-10 19:57] tonymwaruka commented on #89
You guys rock, thank you thank you.

[2017-03-10 19:57] #89 closed

[2017-03-16 11:12] Amittecksky opened #90 "Repeater Field Add on in this use page break"
Repeater fields add on in this use page break in next step not store radio button value and any other logical conditions

[2017-03-28 14:50] fakeartist opened #91 "Get values of repeater using PHP?"
Hi. I use the

    $value = GFAPI::get_entry($entry_id);

to get the details from a form entry.

But when I echo the ID of the repeater holder

    echo $value['repeater-id'];

 it return a string like this:

    a:1:{i:1;a:7:{i:161;a:1:{i:1;s:9:"test";}i:162;a:1:{i:1;s:9:"test";}i:163;a:1:{i:1;s:9:"test";}i:164;a:0:{}i:165;a:0:{}i:166;a:0:{}i:167;a:1:{i:1;s:9:"test";}}}

Any PHP function with whi

[2017-03-28 14:53] stuporglue commented on #91
That's a standard PHP serialized object (an array, in this case). You can use http://php.net/manual/en/function.unserialize.php to turn it into a regular array and work with it.

[2017-03-28 14:55] fakeartist commented on #91
Thanks a lot! Works like a charm!

[2017-03-28 14:55] #91 closed

[2017-04-16 23:53] aethatsme opened #93 "Repeater not working with Woocommerce gf addon. Throwing up this error."
I'm getting an error with Woocommerce gf addon.

"jQuery PostCapture: this library is only available on `form` element"

See attached. Any help greatly appreciated.
![screenshot_5](https://cloud.githubusercontent.com/assets/7725507/25075251/e87e5c88-22d5-11e7-8083-bf99de2923de.jpg)

[2017-04-22 22:31] MenashayAu opened #94 "Isses with gravityforms-repeater"
I found three issues with this plugin (version  1.1.0-dev14) -
Issue 1:
'Name' field always outputs only the last field in the 'name' (if you activate the 'first', and the 'last' for instance, you will only get data from 'last'. If you activate in the 'name' field 'first', 'last' and 'suffix' you will only get data from 'suffix'). By 'output' I mean when you look at 'Entries' from the Gravity Form

[2017-04-22 23:39] zlanich opened #95 "Completely Broken (1.0.8-1.0.9) - GF 2.2.1.2 - WP 4.7.4"
I recently built a site with the latest WP, GF & Repeater, and when I updated the site, the repeater completely breaks the form on versions 1.0.8-1.0.9. Here's what I've found so far:

Javascript Error: `Uncaught TypeError: Cannot read property 'length' of undefined(…)` `jquery.textareaCounter.plugin.min.js:1`

I've completely isolated Just WP Core, GF & Repeater and the issue is still present in

[2017-04-24 07:33] MenashayAu commented on #94
I found the bug for you.
Have a closer look at your php file 'class-gf-field-repeater.php'
Look at line 421, it reads '$inputData[1] = $getInputData;
You hard-coded the array to always populate only a one element (1).
The fix: $inputData[] = $getInputData; (without the 1 in the brackets).
Regards,

[2017-04-25 14:32] graphiclux opened #96 "Undefined index: conditionalLogic"
Getting the following error on multipage Gravity form.

<b>Notice</b>: Undefined index: conditionalLogic in <b>plugins/repeater-add-on-for-gravity-forms/class-gf-field-repeater.php</b> on line <b>156</b><br />

[2017-04-27 03:05] MenashayAu commented on #94
You have a really nasty nasty bug. And I mean nasty.
Symptom-
Put a radio button in a repeater, call it say, 'Gender' and populate the options with 'Female' then 'Male.'
Outside the repeater put a field say a text field. Make both fields (the radio button and the text field) mandatory.
Preview your form and select 'Female' (the first option). Do not populate the text field. Submit your form and as

[2017-04-28 03:40] MenashayAu commented on #94
Kodie,
You have more issues in your js (repeater.js)
Symptom:
Put two fields in the repeater and use the Gravity Forms predefined CSS style such as gf_left_half and gf_right_half
Now put a radio button so that the fields in the repeater are either hidden or shown.
You will notice that when you show the fields in the repeater the DOM ignores the CSS styles.
In this case instead of being 50% width e

[2017-04-29 11:49] MenashayAu commented on #94
I've made more changes to this plugin and it seems to finally work as expected (though I acknowledge not testing extensively).
This time not bugs but a few changes to enable this plugin to work with the popular Gravity Forms PDF plugin. Instead of showing each and every change that I've made, I am uploading the file here.
Note however that changes are also required to the Gravity Forms PDF plugin

[2017-05-01 00:30] leepeterson opened #97 "Question About the List Field Type"
Curious how this add-on, Gravity Forms Repeater, differs from the built-in List field type. Obviously you've created a way to group fields and make those groups repeatable as opposed to creating repeatable text inputs (or date, dropdown, etc. via 3rd-party add-ons). But I'm just wondering if this add-on set out to accomplish something that wasn't already available in GF and if it's still providing

[2017-05-01 17:15] garretthyder commented on #94
Hey @MenashayAu
These are awesome changes, I know the plugin dev doesn't work too much with WP these days but he does accept pull requests so if you're up for it I'm sure you'll see your changes make their way into the plugin faster if you supply code/fixes via pull requests on this repo.
Just a thought as I'd like to see your changes make their way into the core as well.
All the best

[2017-05-01 17:20] garretthyder commented on #97
Hi @leepeterson the GF list field only supports text entry, whereas this plugin allows you to repeat any field including conditional functionality.
You can see an example I built with it here - http://biologica.ca/request-a-quote/
And I'm sure @kodie would love your contributions he made a post about it here;
https://github.com/kodie/gravityforms-repeater/issues/75
* I don't believe there's an off

[2017-05-01 19:21] Yawaki commented on #9
Here's a patch to get file fields working.

Put this above "return maybe_serialize($value);" in class-gf-field-repeater.php function get_value_save_entry()

[code]

[2017-05-01 21:38] leepeterson commented on #97
Whoa! That's a slick form!! I've got a few add-ons which allow for other field types within the List field type, and I knew how this differed from a high level, but now I see that there's a substantial difference. It's not only what's allowed within a repeatable element, it's the markup, the AJAX-enabled generation of new field groups, etc. This is quite impressive.

Thanks for following up and se

[2017-05-01 21:38] #97 closed

[2017-05-01 21:43] garretthyder commented on #97
No worries @leepeterson glad I could help and that you like the form/plugin. All the best

[2017-05-04 11:09] robertdrome commented on #87
Seeing this same issue as well on v 1.0.9

[2017-05-08 14:46] kodie commented on #9
@Yawaki I'd be happy to accept a pull request!

[2017-05-11 00:40] zlanich opened #98 "Missing Repeats in Entries"
I've attached an export of a form where I'm having intermittent missing Repeats in the Entries.

GF Ver: 2.2.1.2
GFR Ver: 1.0.9

Form: [gravityforms-export-2017-05-11.json.zip](https://github.com/kodie/gravityforms-repeater/files/991554/gravityforms-export-2017-05-11.json.zip)

Steps to reproduce:

1. Fill in all required fields
2. Check "I would like pricing for the following product(s)", which s

[2017-05-15 12:54] terence1990 commented on #75
Hey Kodie,

Can you add me as a contributor, there are loads of bugs from recent updates as you can see from the latest Issues on this repo. I've been fixing a few on my development code, for now I can send pull requests.

Many thanks,

[2017-05-16 13:59] kodie commented on #75
Hey @terence1990, if you could get a couple of pull requests in first, just to show that you'll be a good contributor for the community's sake, then I would be happy to make you a contributor.

[2017-05-23 05:42] thalesviolakis commented on #43
+1 Really need this!

[2017-06-07 22:25] rusboard commented on #60
up! any solution?

[2017-06-08 21:30] kferrone commented on #88
I have the same issue except I do have the conditional logic on each field. Also I think the repeater is affecting the form when it has multiple pages.

[2017-06-08 21:41] garretthyder commented on #88
@kferrone I've seen a couple issues come through about it not working in multi-page setups, search the issue list for more information. For instance #87

[2017-07-06 14:14] mtx-z commented on #95
Same here. Lot of bugs.
For me, additionnal fields are not saved (the one i clicked "+"). Also, radio required button in a repeater seems to be never validated/seen: always ask me to fill them even if i did.
Ajax is not working when enabled also...

[2017-08-23 11:45] mathieuhays opened #100 "Issue when populating values over multiple rows."
Hi,

I'm pre-populating values using the `gform_field_value_param1` filter where I change the `1` depending on the row I want to populate. I also use a similar hook to populate the start value of the repeater field so the rows are there to be populated.

I went through the source code and it seems to work fine until the data reached the `gfRepeater_getRepeaters` function in the `gf-repeater.js`.

[2017-09-07 00:59] antoinemayer opened #101 "Buttons not working"
Nothing is happening when I click the + and - buttons.

[2017-09-19 09:43] nilam1234 opened #102 "save and continue"
I have use "Gravity Forms Repeater Add-On" for repeaters field,But it is not save the data when i click on "save and continue" button that is default functionality of gravity form,but it is not work for repeaters.
Please give some solutions to solve this problems as soon as possible. We will wait for your reply

Thanks,

[2017-09-24 15:40] sniffles7 commented on #75
Hi everyone, is this project still running? The latest updates were made months ago. I would really like to use it for my forms, but it's still buggy, especially when using file uploads. Multiple upload doesn't work at all. Thanks!

[2017-10-28 00:13] arawls-csu opened #104 "Repeater and Gravity Flow"
The repeater stops GravityFlow from sending approval email. Please assist with some insight on solving this conundrum.

[2017-11-09 07:18] lbweb commented on #86
HI @urweb1! Curious - did you get anywhere with this one? Any solutions?

[2017-11-09 10:30] urweb1 commented on #86
No. I changed the form and used another solution.

[2017-11-10 17:07] parteja opened #105 "All fields in the same cell when CSV export"
Hello,
Thank you for your great plugin !
When we do an export to CSV, all the fields of a group of repeated fields are displaying in the same cell.
Do you know if there is a solution for that ? Or are you planning to do something for that issue ?

Thank you in advance,

[2017-11-11 00:22] infinitecreature commented on #105
I'm seeing the same issue.  Despite having columns for the repeater fields in the export spreadsheet, the data is all lumped into the parent repeater field column (in this case the "Family Members" section)

[employer-group-template-2017-11-10.zip](https://github.com/kodie/gravityforms-repeater/files/1463087/employer-group-template-2017-11-10.zip)

[2017-11-12 22:57] lbweb opened #106 "Broken in Multi-Page Forms."
HI All, ran into the issue that data does not carry across pages.

@mathieuhays!!! I used your fork to solve the issue and it works great! Thanks for the hard work.

I'm now getting an array dump in the data export
<img width="833" alt="screen shot 2017-11-13 at 8 56 35 am" src="https://user-images.githubusercontent.com/1691121/32704432-99542b1c-c850-11e7-80fb-6087fcf0278f.png">
 (see attached scr

[2017-11-20 19:15] Ravenna opened #107 "Repeater html not duplicating"
I have a form to handle people who are traveling.  There is the option to have multiple travelers and we are using a Repeater for this. There is quite a bit the form is asking so we are going to put the people in accordions to make it simpler to manage.

I setup two html fields directly inside the open/close of the repeater with the code from: https://www.gravityhelp.com/forums/topic/remove-ul-li-

[2017-11-20 21:42] philcook commented on #9
I looked over @Yawaki code but it didnt work for me. Perhaps gravity forms updated since this time.

I modified the code and I will submit a PR when I have a bit more time but here is the code for now in case someone stumbles on this.

Again put this code above "return maybe_serialize($value);" in class-gf-field-repeater.php function get_value_save_entry()

[code]

[2017-11-23 08:10] elton-ot commented on #94
@MenashayAu How do i make this plugin work with Gravity PDF ?
i have used your code, but what changes have to be done in gravity PDF
Thank you.

[2017-11-23 10:41] MenashayAu commented on #94
@elton-ot It's been awhile. I will check and get back to you.

[2017-11-23 10:54] elton-ot commented on #94
@MenashayAu Hey, i created a new form again and now its working..
Thank you so much for the code :)

[2017-11-24 00:54] MenashayAu commented on #94
Hi @elton-ot,
Good to know it is working for you.
If you still need the changes to the Gravity PDF here they are (compare to the latest brunch though before you apply these changes).
The changes are to file 'View_PDF.php' that is in 'gravity-forms-pdf-extended/src/view'
(from line 483) -
`

       /* Try and display our HTML */
        try {

       	    /*
       	    * Menashay Givoni (http://cu

[2017-12-07 01:53] garrett-eclipse opened #108 "Repeater causes radio field with Other option to always list Other as the value"
Hello,

I realize not much support is going on here but just logging for posterity and hopefully I can return to resolve this in the future.

But with Radio fields if you enable the Other field it'll properly record the Other option, but if you choose any other option then it'll always submit as OTHER and not the option that was chosen.

Cheers

[2017-12-22 15:27] cdpritcha commented on #101
I have the same problem. Using Gravity Forms 2.2.5.18 the plus button does not function. It doesn't throw any errors or do anything at all. I'm going to try to downgrade gravity forms to 2.0.4 -- I have another site that I use the repeater on with that version of GF and the repeater works fine.

[2017-12-22 16:25] cdpritcha commented on #101
Well, the Gravity Forms version was not the issue. Seems to a jQuery related problem because the conditional logic in GF also does not work.

[2018-01-09 11:24] daveloodts opened #109 "Multisite compatible?"
Hi we went from a WPML install to a multisite install for a multilangual website. We noticed that the repeating fields are not working anymore and that this plugin is not Multisite ready. Can you confirm that?

[2018-01-11 10:01] parteja commented on #105
Did anybody find a solution to this problem ?
Thank you !

[2018-01-12 18:36] kodie opened #110 "Officially Deprecated"
Hi everyone! Just wanted to let everyone know that I'm officially decommissioning this plugin as I am unable to maintain it anymore and [Gravity Wiz has built a much better alternative](https://gravitywiz.com/documentation/gravity-forms-nested-forms/?ref=145). Feel free to still use this code and/or fork it into your own repository however I am archiving this repo. Good luck out there! 🍻